.root {
	-fx-background-image: url("matrix.jpg");
}

.label {
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-text-fill: WHITE;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5,5,0,0);
}

.button {
	-fx-text-fill: WHITE;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: BOLD;
	-fx-background-color: linear-gradient(#61A2B1, #2A5058);
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
} .button:hover {
	-fx-background-color: linear-gradient(#2A5058, #61A2B1);
}

#welcome-text {
	-fx-font-size: 24px;
	-fx-font-family: "Monospace";
	-fx-font-weight: BOLD;
	-fx-fill: rgb(0,198,0);
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 9,9,0,0);
}

#actiontarget {
	-fx-fill: RED;
	-fx-font-weight: bold;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 3,3,0,0)
}
